
/////////////////////////////////////////

// - Colors- //

/////////////////////////////////////////

$light-blue: #1ba7fa;
$medium-blue: #2974a2;
$dark-blue: #053d53;

$light-green: #3fbfad;
$medium-green: #297d74;
$dark-green: #065144;

$white: #fff;
$white-smoke: #f5f5f5;
$lightest-grey: #e8e8e8;
$light-grey: #d4d4d4;
$medium-grey: #b1b1b1;
$dark-grey: #707070;
$darkest-grey: #050505;

$yellow: #e8d41c;
$orange: #fa8d29;
$red: #d8263d;

/////////////////////////////////////////

// - Color Helpers - //

/////////////////////////////////////////

.c-light-blue {color: $light-blue;}
.c-medium-blue {color: $medium-blue;}
.c-dark-blue {color: $dark-blue;}

.c-light-green {color: $light-green;}
.c-medium-green {color: $medium-green;}
.c-dark-green {color: $dark-green;}

.c-white {color: $white;}
.c-white-smoke {color: $white-smoke;}
.c-lightest-grey {color: $lightest-grey;}
.c-light-grey {color: $light-grey;}
.c-medium-grey {color: $medium-grey;}
.c-dark-grey {color: $dark-grey;}
.c-darkest-grey {color: $darkest-grey;}

.c-yellow {color: $yellow;}
.c-orange {color: $orange;}
.c-red {color: $red;}

.bg-light-blue {background-color: $light-blue;}
.bg-medium-blue {background-color: $medium-blue;}
.bg-dark-blue {background-color: $dark-blue;}

.bg-light-green {background-color: $light-green;}
.bg-medium-green {background-color: $medium-green;}
.bg-dark-green {background-color: $dark-green;}

.bg-white {background-color: $white;}
.bg-white-smoke {background-color: $white-smoke;}
.bg-lightest-grey {background-color: $lightest-grey;}
.bg-light-grey {background-color: $light-grey;}
.bg-medium-grey {background-color: $medium-grey;}
.bg-dark-grey {background-color: $dark-grey;}
.bg-darkest-grey {background-color: $darkest-grey;}

.bg-yellow {background-color: $yellow;}
.bg-orange {background-color: $orange;}
.bg-red {background-color: $red;}


/////////////////////////////////////////

// - Need Refactoring - //

/////////////////////////////////////////

.c-gray {color: $darkest-grey;}

/////////////////////////////////////////

// - Font Families - //

/////////////////////////////////////////

$font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$code-font-family: 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
$icon-font-family: 'FontAwesome';

/////////////////////////////////////////

// - Font Weights - //

/////////////////////////////////////////

$extralight-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

/////////////////////////////////////////

// - Font Sizes - //

/////////////////////////////////////////

$small-font: 1.5rem;
$base-font: 1.7rem;
$large-font: 2.4rem;
$larger-font: 3rem;
$largest-font: 4rem;

/////////////////////////////////////////

// - Spacing - //

/////////////////////////////////////////

$base-spacing: 1.5rem;
$half-spacing: $base-spacing / 2;
$double-spacing: $base-spacing * 2;

/////////////////////////////////////////

// - Border Width - //

/////////////////////////////////////////

$thin-border: 0.1rem;
$regular-border: 0.2rem;

/////////////////////////////////////////

// - Border Radius - //

/////////////////////////////////////////

$base-border-radius: 0.2rem;
$small-border-radius: $base-border-radius / 2;

/////////////////////////////////////////

// - Special Borders - //

/////////////////////////////////////////

%error-border {
  border: $base-border-radius solid $red;
  width: calc(100% +1.9rem);
}

/////////////////////////////////////////

// - Accessibility - //

/////////////////////////////////////////

.sr-only {
  left: -999em;
  position: absolute;
}

.skipnav {
  background: transparent;
  color: $darkest-grey;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 100;
}

.skipnav:focus {
  background: $white;
  left: 0;
  outline: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/////////////////////////////////////////

// - Alerts - //

/////////////////////////////////////////

.input-error {
  position: relative;

  input {
    @extend %error-border;
  }

  textarea {
    @extend %error-border;
  }

  select {
    @extend %error-border;
  }

  label {
    margin-top: 0;
  }

  .input-inline {
    border: .1rem solid $light-grey;
    width: inherit;
  }
}

.input-error-label {
  display: block;
  font-size: 1.5rem;
  font-weight: $normal-weight;
}

.input-error-message {
  color: $red;
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.input-error-message:first-child::before {
  content: '\f071';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding-right: .5rem;
  text-decoration: inherit;
}

.input-error-message:not(:first-child) {
  padding-left: 2rem;
}

.alert-message {
  background-color: $white-smoke;
  display: table;
  margin-top: $base-spacing;
  width: 100%;

  .alert-icon {
    display: table-cell;
    font-size: $large-font;
    padding: $half-spacing $base-spacing;
    text-align: center;
    vertical-align: middle;
    width: 5.4rem;
  }

  .alert-text {
    display: table-cell;
    margin-left: $base-spacing;
    padding: $base-spacing;
  }
}

.info-message {
  .alert-icon {
    background-color: $medium-blue;
    color: $white;
  }
}

.error-message {
  .alert-icon {
    background-color: $red;
    color: $white;
  }
}


/////////////////////////////////////////

// - Buttons - //

/////////////////////////////////////////

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 10rem;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: 1.7rem;
  -webkit-font-smoothing: antialiased;
  font-weight: $bold-weight;
  line-height: 1;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;

  &.btn-default {
    background-color: transparent;
    box-shadow: inset 0 0 0 $base-border-radius $dark-grey;
    color: $dark-grey;
  }

  &.btn-default:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 $base-border-radius $darkest-grey;
    color: $darkest-grey;
  }

  &.btn-default:focus {
    box-shadow: inset 0 0 0 $base-border-radius $dark-blue, 0 0 0.3rem $medium-blue, 0 0 0.7rem $medium-blue;
    color: $darkest-grey;
  }

  &.btn-default:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 $base-border-radius $darkest-grey;
    color: $darkest-grey;
  }

  &.btn-primary {
    background-color: transparent;
    box-shadow: inset 0 0 0 $base-border-radius $medium-blue;
    color: $medium-blue;
  }

  &.btn-primary:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 $base-border-radius $dark-blue;
    color: $dark-blue;
  }

  &.btn-primary:focus {
    box-shadow: inset 0 0 0 $base-border-radius $dark-blue, 0 0 0.3rem $medium-blue, 0 0 0.7rem $medium-blue;
    color: $dark-blue;
  }

  &.btn-primary:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 $base-border-radius $dark-blue;
    color: $dark-blue;
  }

  &.btn-warning {
    background-color: transparent;
    box-shadow: inset 0 0 0 $base-border-radius $red;
    color: $red;
  }

  &.btn-warning:hover {
    background-color: $red;
    color: $white;
  }

  &.btn-warning:focus {
    background-color: $red;
    box-shadow: 0 0 0.3rem $medium-blue, 0 0 0.7rem $medium-blue;
    color: $white;
  }

  &.btn-warning:active {
    background-color: $red;
    color: $white;
  }
}

@media screen and (max-width: 481px) {
  .btn {
    width: 100%;
  }
}

.btn:disabled:hover, {
  background-color: $light-grey;
  border: 0;
  box-shadow: none;
  color: $medium-grey;
  cursor: not-allowed;
}

.btn:disabled {
  background-color: $light-grey;
  border: 0;
  box-shadow: none;
  color: $medium-grey;
  cursor: not-allowed;
}

.input-type-date {
  background-image: url('../images/calendar.svg');
  background-position: 99%;
  background-repeat: no-repeat;
  background-size: 2.5rem;
}

.input-type-autocompleter,
.react-autosuggest__input {
  background-image: url('../images/search.svg');
  background-position: 99%;
  background-repeat: no-repeat;
  background-size: 2.5rem;
}

/////////////////////////////////////////

// - Cards - //

/////////////////////////////////////////

.card {
  background-color: $white;
  color: $darkest-grey;

  label {
    color: $dark-grey;
    margin-top: 3rem;
  }

  .card-header {
    border-bottom: .1rem solid $lightest-grey;
    display: block;
    font-size: $large-font;
    overflow: hidden;
    padding: $base-spacing $double-spacing;

    span {
      float: left;
      font-weight: $normal-weight;
      margin: 0;
      padding: 0;
    }

    a {
      float: right;
      text-decoration: none;
    }

    button {
      background: none;
      border: none;
    }
  }

  .card-body {
    border-top: 0;
    padding: 0 $double-spacing $double-spacing;

    @media screen and (max-width: 767px) {
      .centered {
        margin-left: $base-spacing;
        margin-right: $base-spacing;
      }
    }

    .btn {
      margin-left: $half-spacing;
      margin-top: $double-spacing;
    }

    .btn-block {
      margin-left: 0;
      margin-top: $double-spacing;
    }
  }

  &.edit {
    border-left: .7rem solid $medium-blue;
  }
}


// Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
// License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)

@import 'icon/variables';
@import 'icon/mixins';
@import 'icon/path';
@import 'icon/core';
@import 'icon/larger';
@import 'icon/fixed-width';
@import 'icon/list';
@import 'icon/bordered-pulled';
@import 'icon/animated';
@import 'icon/rotated-flipped';
@import 'icon/stacked';
@import 'icon/icons';
@import 'icon/screen-reader';

/////////////////////////////////////////

// - Forms - //

/////////////////////////////////////////

input,
textarea,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  border: .1rem solid $light-grey;
  border-radius: 0;
  box-sizing: border-box;
  color: $darkest-grey;
  display: block;
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 1.3;
  max-width: 100%;
  outline: none;
  padding: 1rem .7em;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 3px $medium-blue, 0 0 7px $medium-blue;
}

label {
  color: $dark-grey;
  display: block;
  font-size: $small-font;
  font-weight: $normal-weight;
  margin-top: 2rem;
}

textarea {
  height: 16rem;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../images/arrow-down.png');
  background-image: url('../images/arrow-down.svg');
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

legend {
  border-bottom: none;
}

.fieldset-inputs label {
  margin-top: 0;
}

.form-hint {
  color: $light-grey;
  font-family: $font-family;
  margin-bottom: 0;
}

input[type='checkbox'],
input[type='radio'] {
  clip: rect(1px, 1px, 1px, 1px);
  margin-left: -2rem;
  position: absolute;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
  font-weight: $normal-weight;
  margin-bottom: .5rem;
}

input[type='checkbox'] + label::before,
input[type='radio'] + label::before {
  background: $white;
  border-radius: .3rem;
  box-shadow: 0 0 0 1px $light-grey;
  content: '\a0';
  display: inline-block;
  height: 1.8rem;
  line-height: 1.8rem;
  margin-right: .6em;
  text-indent: .15em;
  vertical-align: middle\0;
  width: 1.8rem;
}

input[type='radio'] + label::before {
  border-radius: 100%;
  box-shadow: 0 0 0 2px $white, 0 0 0 3px $light-grey;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 1.6rem;
}

input[type='checkbox']:checked + label::before,
input[type='radio']:checked + label::before {
  background-color: $medium-blue;
  box-shadow: 0 0 0 1px $medium-blue;
}

input[type='radio']:checked + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $medium-blue;
}

input[type='radio']:focus + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $medium-blue, 0 0 3px 4px $medium-blue, 0 0 7px 4px $medium-blue;
}

input[type='checkbox']:checked + label::before {
  background-image: url('../images/correct8.png');
  background-image: url('../images/correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 0 1px $white, 0 0 0 3px $medium-blue;
}

input[type='checkbox']:disabled + label {
  color: $light-grey;
}

input[type='checkbox']:disabled + label::before,
input[type='radio']:disabled + label::before {
  background: $light-grey;
  box-shadow: 0 0 0 1px $light-grey;
  cursor: not-allowed;
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: list-item;
    margin: 0;
  }

  li::before {
    display: none;
  }

  li::after {
    display: none;
  }
}

.required::after {
  content: ' (required)';
}

/////////////////////////////////////////

// - Autocompleter - //

/////////////////////////////////////////

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__suggestions-container {
  background-color: $white;
  border: 1px solid $light-grey;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  width: 100%;
  z-index: 2;

  &.force-open {
    display: block;
  }
}

.react-autosuggest__container--open {
  .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: block;
  }
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  em {
    background-color: $orange;
    font-style: normal;
    font-weight: bold;
  }
}

.react-autosuggest__suggestion {
  border-bottom: 2px solid $light-grey;
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: $light-grey;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Source_Sans_Pro-normal-300.woff') format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Source_Sans_Pro-normal-400.woff') format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Source_Sans_Pro-normal-600.woff') format('woff');
  unicode-range: U+0-10FFFF;
}

// Space Helpers //

.centered {
  text-align: center;
}

.no-pad {
  padding: 0;
}

.no-pad-top {
  padding-top: 0;
}

.no-pad-bottom {
  padding-bottom: 0;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.no-gap {
  margin-top: 0;
}

.no-gap-top {
  margin-top: 0;
}

.no-gap-bottom {
  margin-bottom: 0;
}

.no-gap-left {
  margin-left: 0;
}

.no-gap-right {
  margin-right: 0;
}

.half-padded {
  padding: $half-spacing;
}

.padded {
  padding: $base-spacing;
}

.double-padded {
  padding: $double-spacing;
}

.half-margin {
  padding: $half-spacing;
}

.margin {
  padding: $base-spacing;
}

.double-margin {
  padding: $double-spacing;
}

.half-pad-top {
  padding-top: $half-spacing;
}

.pad-top {
  padding-top: $base-spacing;
}

.double-pad-top {
  padding-top: $double-spacing;
}

.half-pad-bottom {
  padding-bottom: $half-spacing;
}

.pad-bottom {
  padding-bottom: $base-spacing;
}

.double-pad-bottom {
  padding-bottom: $double-spacing;
}

.half-pad-left {
  padding-left: $half-spacing;
}

.pad-left {
  padding-left: $base-spacing;
}

.double-pad-left {
  padding-left: $double-spacing;
}

.half-pad-right {
  padding-right: $half-spacing;
}

.pad-right {
  padding-right: $base-spacing;
}

.double-pad-right {
  padding-right: $double-spacing;
}

.half-gap-top {
  margin-top: $half-spacing;
}

.gap-top {
  margin-top: $base-spacing;
}

.double-gap-top {
  margin-top: $double-spacing;
}

.half-gap-bottom {
  margin-bottom: $half-spacing;
}

.gap-bottom {
  margin-bottom: $base-spacing;
}

.double-gap-bottom {
  margin-bottom: $double-spacing;
}

.half-gap-left {
  margin-left: $half-spacing;
}

.gap-left {
  margin-left: $base-spacing;
}

.double-gap-left {
  margin-left: $double-spacing;
}

.half-gap-right {
  margin-right: $half-spacing;
}

.gap-right {
  margin-right: $base-spacing;
}

.double-gap-right {
  margin-right: $double-spacing;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

// Mobile Helpers //


@media (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 767px) {
  .hide-tablet {
    display: none;
  }
}

@media screen and (max-width: 481px) {
  .hide-phone {
    display: none;
  }
}

/////////////////////////////////////////

// - IE specific css rules - //

/////////////////////////////////////////

::-ms-clear {
  display: none;
}
Contact GitHub API Training Shop Blog About

/////////////////////////////////////////

// - Lists - //

/////////////////////////////////////////

.list-item {
  background-color: $white-smoke;
  margin: $double-spacing 0 0;
  padding: 0 0 $base-spacing;
  position: relative;

  input,
  select {
    background-color: $white;
  }
}

.list-item__a {
  font-size: 1.5rem;
  position: absolute;
  right: 1.3rem;
  top: .7rem;
}



.Select--multi .Select-control {
  border: none;
  border: .1rem solid $light-grey;
  border-radius: 0;
  height: auto;
  padding: .6rem .7em;
}

.Select--multi .Select-value {
  background-color: $white;
  border: .2rem solid $medium-blue;
  border-radius: 40rem;
  color: $medium-blue;
  margin: .3rem;
  padding: .2rem 1rem;
}

.Select--multi .Select-value-icon {
  border-right: 0;
  font-size: 1.5em;
  font-weight: bold;
  line-height: .25em;
  margin: 0;
  padding: 0 .3em 0 .5rem;

  &:hover {
    background: $white;
    color: $medium-blue;
  }
}

.Select--multi .Select-value-label {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

.Select-arrow-zone {
  background-image: url('../images/arrow-down.png');
  background-image: url('../images/arrow-down.svg');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

.Select-arrow {
  border: none;
}

/////////////////////////////////////////

// - Tables - //

/////////////////////////////////////////

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  td {
    padding: $base-spacing;
  }

  tr:nth-child(odd) {
    background-color: $white;
  }

  tr:nth-child(even) {
    background-color: $white-smoke;
  }

  thead {
    font-weight: $semibold-weight;

    tr:nth-child(odd) {
      background-color: transparent;
    }
  }
}

tbody tr th {
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }
}

/////////////////////////////////////////

// - Typography - //

/////////////////////////////////////////

html {
  font-family: $font-family;
  font-size: 10px;
}

body {
  background-color: $lightest-grey;
  color: $darkest-grey;
  font-family: $font-family;
  font-size: 1.7rem;
}

p {
  line-height: 1.5;
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
}

a {
  color: $medium-blue;
  text-decoration: underline;
}

a:hover,
a:active {
  color: $dark-blue;
}

a:visited {
  color: $medium-blue;
}

a:focus {
  box-shadow: 0 0 3px $medium-blue, 0 0 7px $medium-blue;
  outline: 0;
}

.dark-background-link a {
  color: $light-grey;
}

h1,
h2,
h3 {
  clear: both;
  line-height: 1.3;
  margin-bottom: $half-spacing;
  margin-top: $base-spacing * 1.5;
}

h1 {
  font-size: $largest-font;
  font-weight: $light-weight;
  margin-bottom: 0;
}

h2 {
  font-size: $larger-font;
  font-weight: $semibold-weight;
}

h3 {
  font-size: $large-font;
  font-weight: $semibold-weight;
}

h4 {
  font-size: $large-font;
  font-weight: $semibold-weight;
  margin-bottom: 2rem;
  margin-top: 0;
}

pre {
  background-color: $darkest-grey;
  border: 0;
  border-radius: 0;
  font-family: $code-font-family;
  font-size: $small-font;
  margin: 0;
  max-height: 60rem;

  xmp {
    color: $white;
    margin-left: -5rem;
    padding: 0 3rem 0 0;
  }
}

ul,
ol {
  margin: 0;
}
