.App {
	z-index: 999;
	height: 100%;
  background-color: #f3f3f3;
  font-size: 25px;
  font-family: monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #008FED;
  height: 115px;
  padding: 20px;
  max-width: 100%;
}

.App-body {
  background-color: #e8e8e8;
  font-size: large;
  font-family: monospace;
	/*text-align: center;*/
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.under-logo {
	height: 100px;
}


.Typist.text-animate {
    text-align: center;
    font-size: 25px;
    font-family: monospace;
}

@media only screen and (max-width: 900px) {
    .Typist.text-animate  {
        font-size: 14px;
    }
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.quote-home {
    margin: 85px;
    text-align: center;
    font-family: cursive;
}

a.facebook-button {
    border: none;
    background: #3b5998;
    border-radius: 6px;
    color: white;
		padding: 5px;
}
a.facebook-button:hover {
    padding: 8px;
    text-decoration: none;
}

a.Git-button.pull-right {
    color: white;
    font-size: 20px;
}

.navbar {
    background-color: #e9e9e9;
}
@media screen and (min-width : 765px) {
.nav-bar{
  background-color: #008FED;
        min-height: 1200px;
        font-size: 25px;
        width: 180px;
        font-family: monospace;
    }
}
.nav-bar{
    background-color: #008FED;

  font-size: 25px;
  font-family: monospace;
}
button.menu-button {
    background: none;
    border: none;
    margin: 10px;
		outline: none;
}

.menu-add {
    color: #337ab7;
}
.menu-remove {
    color: #730705;
}


//Cards

body {
    margin: 0;
    padding: 0;
}

.bg-lightest-grey {
    background-color: #e8e8e8;
    width: 100%;
}
.double-padded {
    padding: 3rem;
}

.card {
    background-color: #b1b1b1;
    color: #050505;
    margin-top: 1rem;
}

.card .card-header {
    border-bottom: .1rem solid #e8e8e8;
    display: block;
    font-size: 2.4rem;
    overflow: hidden;
    padding: 1.5rem 3rem;
}

.card .card-body {
    border-top: 0;
    padding: 0 3rem 3rem;
}

.card.edit {
    border-left: .7rem solid #2974a2;
}

.card label {
    color: #707070;
    margin-top: 3rem;
}

.card .card-body .btn {
    margin-left: .75rem;
    margin-top: 3rem;
}

.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 10rem;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 1.7rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    line-height: 1;
    outline: 0;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
}

.btn.btn-primary, .btn.btn-primary:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.2rem #2974a2;
    color: #2974a2;
}

.btn.btn-default, .btn.btn-default:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 0.2rem #707070;
    color: #707070;
}

.c-gray {
    color: #050505;
}

.centered {
    text-align: center;
}

