/////////////////////////////////////////

// - Buttons - //

/////////////////////////////////////////

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  font-size: $base-font;
  -webkit-font-smoothing: antialiased;
  font-weight: $bold-weight;
  line-height: 1;
  outline: none;
  padding: $medium-spacing 3rem;
  text-align: center;
  text-decoration: none;
  word-spacing: nowrap;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  &.btn-default {
    background-color: transparent;
    box-shadow: inset 0 0 0 $base-border-radius transparent;
    color: $teel-blue;
    padding: $medium-spacing;

    &.btn-default:disabled {
      background-color: transparent;
      border: none;
      box-shadow: inset 0 0 0 $base-border-radius transparent;
      color: $grey-plus;
    }
  }

  &.btn-default:hover {
    background-color: transparent;
    color: $dark-teel-blue;
    padding: $medium-spacing;
    text-decoration: underline;
  }

  &.btn-default:focus {
    box-shadow: inset 0 0 0 $base-border-radius $dark-blue,
      0 0 0.3rem $medium-blue, 0 0 0.7rem $medium-blue;
    color: $dark-teel-blue;
  }

  &.btn-default:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 $base-border-radius $darkest-grey;
    color: $dark-teel-blue;
  }

  &.btn-primary {
    background-color: $teel-blue;
    box-shadow: inset 0 0 0 $base-border-radius $teel-blue;
    color: $white;
  }

  &.btn-primary:hover {
    background-color: $dark-teel-blue;
    box-shadow: inset 0 0 0 $base-border-radius $dark-teel-blue;
    color: $white;
  }

  &.btn-primary:focus {
    box-shadow: inset 0 0 0 $base-border-radius $dark-blue,
      0 0 0.3rem $medium-blue, 0 0 0.7rem $medium-blue;
    color: $white;
  }
  &.btn-primary:active {
    background-color: $dark-teel-blue;
    box-shadow: inset 0 0 0 $base-border-radius $dark-blue;
    color: $white;
  }

  &.btn-warning {
    background-color: $error-red;
    box-shadow: inset 0 0 0 $base-border-radius $error-red;
    color: $white;
  }

  &.btn-warning:hover {
    background-color: $dark-red;
    color: $white;
  }

  &.btn-warning:focus {
    background-color: $dark-red;
    box-shadow: 0 0 0.3rem $medium-blue, 0 0 0.7rem $medium-blue;
    color: $white;
  }

  &.btn-warning:active {
    background-color: $dark-red;
    color: $white;
  }
}

@media screen and (max-width: 481px) {
  .btn {
    width: 100%;
  }
}

.btn:disabled:hover {
  background-color: $disabled-grey;
  box-shadow: none;
  color: $white;
  cursor: not-allowed;
  text-decoration: none;
}

.btn:disabled {
  background-color: $disabled-grey;
  box-shadow: inset 0 0 0 $base-border-radius $disabled-grey;
  color: $white;
  cursor: not-allowed;
}
