/////////////////////////////////////////

// - Cards - //

/////////////////////////////////////////

.card {
  background-color: $white;
  border-radius: $base-border-radius;
  box-shadow: $regular-shadow;
  color: $darkest-grey;

  label {
    color: $dark-grey;
    margin-top: $half-spacing;
  }

  .card-header {
    border-bottom: $thin-border solid $lightest-grey;
    display: block;
    font-size: $h3-title-font-size;
    overflow: hidden;

    span {
      float: left;
      font-weight: $normal-weight;
      padding: $medium-spacing $large-spacing;
    }

    a {
      float: right;
      text-decoration: none;
    }

    button {
      margin-left: $small-spacing;
    }
  }

  .card-body {
    border-top: 0;
    padding: 0 $double-spacing $double-spacing;

    @media screen and (max-width: 767px) {
      img {
        max-height: 15rem;
        max-width: 15rem;
      }
      .centered {
        margin-left: $base-spacing;
        margin-right: $base-spacing;
      }
    }
    .btn {
      margin-left: $half-spacing;
      margin-top: $double-spacing;
    }

    .btn-block {
      margin-left: 0;
      margin-top: $double-spacing;
    }
    .pull-right {
      display: -webkit-inline-box;
      padding-top: $large-spacing;
    }
  }
  &.edit {
    border-left: 0.7rem solid $medium-blue;
  }
}
