/////////////////////////////////////////

// - Forms - //

/////////////////////////////////////////
.btn {
  outline: none;
}

input,
textarea,
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  border: 0.1rem solid $light-grey;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  color: $darkest-grey;
  display: block;
  font-size: $base-font;
  line-height: 1.3;
  max-width: 100%;
  outline: none;
  padding: 1rem 0.7rem;
  width: 100%;
  margin-top: $small-spacing;
}

input:disabled {
  border-color: $pinkish-grey;
  background-color: $input-grey;
  &:hover {
    cursor: not-allowed;
  }
}
input:focus,
textarea:focus {
  border: $thin-border solid;
  border-radius: $base-border-radius;
  border-color: $medium-blue;
}

label {
  color: $dark-grey;
  display: block;
  font-size: $base-font;
  font-weight: $normal-weight;
  padding-top: $small-spacing;
}

textarea {
  height: 16rem;
}

select {
  background-image: url('https://ca-cwds.github.io/research-design/images/arrow-down.svg') !important;
  background-position: right 1.3rem center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}
option {
  padding: $medium-spacing;
}

legend {
  border-bottom: none;
}

.fieldset-inputs label {
  margin-top: 0;
}

.form-hint {
  color: $light-grey;
  font-family: $font-family;
  margin-bottom: 0;
}
/* HTML5 Boilerplate accessible hidden styles */
[type='radio'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */

[type='radio'] + span,
[type='checkbox'] + span {
  display: block;
  color: $black;
}

/* the basic, unchecked style */
[type='radio'] + span:before {
  content: '\a0';
  background: #fff;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.1rem;
  border-radius: 100%;
  border: 0.3rem solid #fff;
  box-shadow: 0 0 0 0.19rem #767676;
  line-height: 1.8rem;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  text-indent: 0.15rem;
  transition: 0.5s ease all;
}

[type='checkbox'] + span:before {
  content: '\a0';
  width: 2rem;
  height: 2rem;
  background: #fff;
  display: inline-block;
  vertical-align: -0.1rem;
  border-radius: 0.2rem;
  border: solid 0.15rem #767676;
  line-height: 1.8rem;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  text-indent: 0.15rem;
}

/* the checked style using the :checked pseudo class */
[type='radio']:checked + span:before {
  box-shadow: 0 0 0 0.2rem #00829b;
  background-color: #00829b;
}
[type='checkbox']:checked + span:before {
  background-color: #00829b;
  border-color: #00829b;
  transition: 0.5s ease all;
}

[type='checkbox']:checked + span:before {
  background-image: url(https://ca-cwds.github.io/research-design/images/correct8.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type='checkbox'],
input[type='radio'] {
  clip: rect(1px, 1px, 1px, 1px);
  margin-left: -2rem;
  position: absolute;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
  font-weight: $normal-weight;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label::before,
input[type='radio'] + label::before {
  background: $white;
  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px $light-grey;
  content: '\a0';
  display: inline-block;
  height: 1.8rem;
  line-height: 1.8rem;
  margin-right: 0.6rem;
  text-indent: 0.15rem;
  vertical-align: middle\0;
  width: 1.8rem;
}

input[type='radio'] + label::before {
  border-radius: 100%;
  box-shadow: 0 0 0 2px $white, 0 0 0 3px $light-grey;
  height: 1.6rem;
  line-height: 1.6rem;
  width: 1.6rem;
}

input[type='checkbox']:checked + label::before,
input[type='radio']:checked + label::before {
  background-color: $medium-blue;
  box-shadow: 0 0 0 1px $medium-blue;
}

input[type='radio']:checked + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $medium-blue;
}

input[type='radio']:focus + label::before {
  box-shadow: 0 0 0 2px $white, 0 0 0 4px $medium-blue, 0 0 3px 4px $medium-blue,
    0 0 7px 4px $medium-blue;
}

input[type='checkbox']:checked + label::before {
  background-image: url('../images/correct8.png');
  background-image: url('../images/correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

input[type='checkbox']:focus + label::before {
  box-shadow: 0 0 0 1px $white, 0 0 0 3px $medium-blue;
}

input[type='checkbox']:disabled + label {
  color: $light-grey;
}

input[type='checkbox']:disabled + label::before,
input[type='radio']:disabled + label::before {
  background: $light-grey;
  box-shadow: 0 0 0 1px $light-grey;
  cursor: not-allowed;
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: list-item;
    margin: 0;
  }

  li::before {
    display: none;
  }

  li::after {
    display: none;
  }
}

.required::after {
  content: ' (required)';
}

/////////////////////////////////////////

// - Autocompleter - //

/////////////////////////////////////////

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__suggestions-container {
  background-color: $white;
  border: 1px solid $light-grey;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: none;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  width: 100%;
  z-index: 2;

  &.force-open {
    display: block;
  }
}

.react-autosuggest__container--open {
  .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: block;
  }
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  em {
    background-color: $orange;
    font-style: normal;
    font-weight: bold;
  }
}

.react-autosuggest__suggestion {
  border-bottom: 2px solid $light-grey;
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: $light-grey;
}
.has-error {
  input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  .fa-exclamation-triangle {
    padding-right: $small-spacing;
  }
  .error.text-danger {
    font-size: 1.5rem;
  }
}
