body {
    background: #c6c8ca;
}
 .row
 {
    margin-left: 0;
    margin-right: 0;
 }

/***
 GLOBAL HEADER STYLING
***/

header {
    background-color: #FFFFFF;
    text-align: center;
    padding: 1.000em;
}

header i.fa {
    color: #264F70;
    font-size: 16pt;
}

.logo {
    color: #083452;
    font-size: 16pt;
    text-align: left;

}

.divider {
    height: 25px;
    border: 0.111em solid #EBEBEA;
   
}

ul.header-actions li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
   
}

.profile {
    font-size: 16pt;
    margin: 0;
    text-align: left;
    max-width: 490px;
    color: #264F70;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.profile-avatar {
    font-size: 13pt;
    border-radius: 100%;
    border: none;
    margin: 0;
    background-color: #083452;
    color: #FFFFFF;
    flex: 0 0 15%;
    padding: 5px;
    text-align: center;
}