body {
    background: $mediumdark-grey;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
/***
 GLOBAL HEADER STYLING
***/

header {
    background-color: $white;
    text-align: center;
    padding: 0.625em;
    .logo {
        color: $primary-blue;
        font-size: 16pt;
        text-align: left;
        position: relative;
        left: 0.6em;
    }
    ul.header-actions {
        li {
            list-style: none;
            display: inline-block;
            padding: 0 1.250em;
            vertical-align: middle;
        }
        .fa {
            color: $grey-blue;
            font-size: 16pt;
        }
        .divider {
            height: 1.563em;
            border: 0.063em solid $primary-grey;
            
        }
        .profile {
            font-size: 16pt;
            margin: 0;
            text-align: left;
            max-width: 30.625em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $grey-blue;
        }
        .profile-avatar {
            font-size: 13pt;
            border-radius: 100%;
            border: none;
            margin: 0;
            background-color: $primary-blue;
            color: $white;
            flex: 0 0 15%;
            padding: 0.313em;
            text-align: center;
            position: relative;
            right: -0.7em;
        }
    }
}