/////////////////////////////////////////

// - Lists - //

/////////////////////////////////////////

.list-item {
  background-color: $white-smoke;
  margin: $double-spacing 0 0;
  padding: 0 0 $base-spacing;
  position: relative;

  input,
  select {
    background-color: $white;
  }
}

.list-item__a {
  font-size: 1.5rem;
  position: absolute;
  right: 1.3rem;
  top: .7rem;
}
