@import 'colors';

.Select--multi .Select-control {
  border: none;
  border: 0.1rem solid $light-grey;
  border-radius: 0;
  height: auto;
  padding: 0.6rem 0.7em;
}

.Select--multi .Select-value {
  background-color: $white;
  border: 0.2rem solid $medium-blue;
  border-radius: 40rem;
  color: $medium-blue;
  margin: 0.3rem;
  padding: 0.2rem 1rem;
}

.Select--multi .Select-value-icon {
  border-right: 0;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 0.25em;
  margin: 0;
  padding: 0 0.3em 0 0.5rem;

  &:hover {
    background: $white;
    color: $medium-blue;
  }
}

.Select--multi .Select-value-label {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
}

.Select-arrow-zone {
  background-image: url('https://ca-cwds.github.io/research-design/images/arrow-down.svg') !important;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
}

.Select-arrow {
  border: none;
}
