/***
 PAGE HEADER STYLING
***/

.page-header-mast {
  background: $dark-ash-blue;
  background: -webkit-linear-gradient(
    left,
    $blue-black 0%,
    $light-blue-black 10%,
    $ash-green 90%,
    $dark-ash-blue 100%
  );
  background: -o-linear-gradient(
    left,
    $blue-black 0%,
    $light-blue-black 10%,
    $ash-green 90%,
    $dark-ash-blue 100%
  );
  background: -moz-linear-gradient(
    left,
    $blue-black 0%,
    $light-blue-black 10%,
    $ash-green 90%,
    $dark-ash-blue 100%
  );
  background: linear-gradient(
    to right,
    $blue-black 0%,
    $light-blue-black 10%,
    $ash-green 90%,
    $dark-ash-blue 100%
  );
  height: $mast-height;
  padding-bottom: $medium-spacing;
  padding-top: $medium-spacing;
  position: sticky;
  width: 100%;
  vertical-align: middle;
  transition: top 0.2s ease;
  z-index: 1;
}
.page-title {
  color: $white;
  font-size: $h2-card-header-font-size;
  height: (5rem / $mast-height) * 100%;
  padding-bottom: $extra-small-spacing;
  padding-top: $extra-small-spacing;
}
.primary-btn {
  background: transparent;
  border: solid $regular-border $white;
  border-radius: $small-border-radius;
  color: $white;
  cursor: pointer;
  font-size: $base-font;
  font-weight: $semibold-weight;
  line-height: 1.321rem;
  padding: $medium-spacing;
}
/** ENDS **/
